*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-image: url(./background_image.jpg);
}

header{
    text-align: center;
    padding: 20px;
    color: white;
}
header h1{
    margin-bottom: 10px;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
}
header p{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 900;
}
div{
    background-color: rgba(0, 0, 0, 0.493);
    margin-top: 15px;
}
section form{
    background-color: rgba(0, 0, 0, 0.589);
    color: white;
    width: fit-content;
    padding: 20px;
    margin: 5px auto;
}
.in{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    width: 400px;
}
nav{
    padding: 20px;
    text-align: center;
}
nav .sub{
    background-color: red;
    border-radius: 40px;
    color: white;
    font-weight: 800px;
    padding: 10px;
    width: 150px;
}
nav .sub{
    cursor: pointer;
} 